.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place video behind content */
  }
  /* Navbar styling */
  .navbar-custom {
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }
  .navbar-brand span {
    color: #ff5733; /* Highlighted text color for "STUDIO" */
  }
  .navbar-nav .nav-link {
    color: #ffffff; /* White color for navigation links */
    font-weight: bold;
    margin-left: 50px;
  }
  .navbar-nav .nav-link:hover {
    color: #ff5733; /* Highlighted color on hover */
  }
  .btn-signup {
    background-color: #ff5733; /* Bright orange for the signup button */
    color: #ffffff;
    font-weight: bold;
  }
  .btn-signup:hover {
    background-color: #e14a2b; /* Darker orange for hover */
  }
  /* Content section styling */
  .hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    z-index: 1;
    position: relative;
  }
  .hero-section h2 {
    font-size: 84px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  em{
    font-style: normal;
  color: #ed563b;
  font-weight: 900;
  }

  .hero-section h6 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }
  .hero-section .btn-primary {
    background-color: #ff5733;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 20px;

  }

  .color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 1, 27, 0.7); /* Semi-transparent black overlay */
    z-index: -1; /* Place overlay behind content, above video */
  }
  

  .section {
    padding: 100px 15px;
    text-align: center;
  }

  .section:nth-child(odd) {
    background-color: #f8f9fa; /* Light gray */
  }

  .section:nth-child(even) {
    background-color: #ffffff; /* White */
  }


  .feature-item{
    
    display: inline-block;
    margin-bottom: 60px;
  }

  .feature-item .left-icon img{
    float: left;
    margin-right: 30px;
  }

  .feature-item .right-content {
    display: inline;
    text-align: justify;
    font-style: #232d39;
    font-size: 15px;
    font-weight: 400;

  }

  .feature-item .right-content h4{
    margin-top: 0px;
    margin-bottom:  7px;
    letter-spacing: 0.25px;
    text-decoration-color: #232d39;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    
  }
  
  .feature-item .right-content a.text-button {
    
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ed563b;
    font-weight: 500;
    margin-top: -10px;
    
  }
  
  #call-to-action{
    padding: 120px 0px;
    background-image: url(assets/cta-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }


  .cta-content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .cta-content p {
    font-size: 16px ;
    color: #fff;
    margin: 15px 0px 25px 0px;
  }

  .cta-content a {
    background-color: #e14a2b;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 20px;
    
  }
  .training h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    
  }

  .training .list1 {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-size: 40px;
    margin-bottom: 40px;
  }
  

  .but-1{
    background-color: #e14a2b;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .but-2{
    background-color: #e14a2b;
    border: none;
    font-size: 1.2rem;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }



  .section-heading{
    padding-top: 100px;
    
  }
  .section-heading img {
    padding: 10px;
  }

  .section-heading p {
    padding: 10px;
    font-weight: 500;
  }

  #schedule{
    background-image: url(assets/schedule-bg.jpg);
    color: white;
    padding: 0px 0px 140px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #schedule table {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
  }
  
  #schedule table tbody {
    border-top: 1px solid #fff; 
  }
  
  #schedule table tbody tr {
    border-bottom: 1px solid #fff;
  }
  
  #schedule table tbody tr td {
    border-right: 1px solid #fff;
    height: 100px;
  }
  
  #schedule table tr td {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  
  .schedule-table.filtering .ts-item {
      opacity: 0;
      transition: all 0.5s;
  }
  
  .schedule-table.filtering .ts-item.show {
      opacity: 1;
      transition: all 0.5s;
  }
  
  #schedule .filters {
    margin-bottom: 40px;
  }
  #schedule .filters ul {
    padding: 0;
    text-align: center;
  }
  #schedule .filters ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #schedule .filters ul li:after {
    content: "/";
    margin-left: 10px;
    color: #fff;
  }
  #schedule .filters ul li:last-child {
    margin-right: 0px;
  }
  #schedule .filters ul li:last-child::after {
    display: none;
  }
  #schedule .filters ul li.active,
  #schedule .filters ul li:hover {
    color: #ed563b;
  }
  #schedule .filters-content {
    margin-top: 50px;
  }
  #schedule .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
  }
  #schedule .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
  }

  #trainers .trainer-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 40px;
  }
  
  #trainers .trainer-item img {
    width: 100%;
    border-radius: 5px;
  }
  
  #trainers .trainer-item span {
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  #trainers .trainer-item h4 {
    font-size: 19px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
  }
  
  #trainers .trainer-item p {
    margin-bottom: 20px;
  }
  
  #trainers .trainer-item ul.social-icons li {
    display: inline-block;
    margin-right: 12px;
  }
  
  #trainers .trainer-item ul.social-icons li:last-child {
    margin-right: 0px;
  }
  
  #trainers .trainer-item ul.social-icons li a {
    color: #232d39;
    transition: all .3s;
  }
  
  #trainers .trainer-item ul.social-icons li a:hover {
    color: #ed563b;
  }


  
  
  #contact-us .container-fluid .col-lg-6 {
    padding: 0px;
    background-color: white;
    
  }
  
  #contact-us .contact-form {
    padding: 80px;
    background-image: url(assets/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #contact-us .contact-form #contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-form ::-webkit-input-placeholder { /* Edge */
    color: #7a7a7a;
  }
  
  .contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7a7a7a;
  }
  
  .contact-form ::placeholder {
    color: #7a7a7a;
  }
  
  .contact-form button {
    display: inline-block;
    font-size: 13px;
    padding: 11px 17px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
    margin-top: -8px;
  }
  
  .contact-form button:hover {
    background-color: #f9735b;
  }


  footer {
    background-color: white;
    text-align: center;
    padding: 30px 0px;
  }
  
  footer p {
    color: #232d39;
    font-size: 13px;
  }
  
  footer p a {
    cursor: pointer;
    color: #ed563b;
  }
  
  footer p a:hover {
    color: #ed563b;
  }
  